---

const {title,paragraph,textBtn,imageUrl,suptext,imgRight} = Astro.props
---

<div class=`w-full h-auto flex flex-wrap gap-10 items-center justify-evenly mb-10 lg:justify-center ${imgRight? "flex-row-reverse": "flex-row"}`>

    <div class="w-5/6 h-80  hidden md:block md:w-96 md:h-auto lg:w-[35rem]">
        <img class="w-full h-full rounded-xl " src=`../../public/imgs/${imageUrl}` alt="">
    </div>

    <div class=" w-full h-full flex flex-col items-start justify-evenly p-5 gap-10 md:w-full md:items-start lg:w-[39rem] lg:h-96 lg:gap-5 ">
        <p class="font-normal text-xl text-[#009A58] mx-auto md:text-2xl">{suptext}</p>
        <h2 class="font-bold text-4xl text-titleColor md:text-5xl">{title}</h2>
        <p class="text-lg text-justify md:text-xl">{paragraph}</p>
        <button class="px-7 py-3 bg-btnColor rounded-full text-white mx-auto transition ease-in-out hover:bg-transparent hover:text-titleColor hover:border hover:border-[#1CB9C8] md:text-xl md:px-10">{textBtn}</button>
    </div>

</div>


